body{
    background-color: #B5C0D0;
}

.chat-btn{
    position: fixed;
    border-radius: 50px;
    bottom: 4%;
    right: 4%;
}

.chat-btn > img{
    width: 20px;
}

.chat-btn:hover{
    border: 1px solid black;
}